.main-page {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-flow: column;
    align-content: center;
    width: 100%;
    height: 100%;

}

.container--chat-page {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-self: center;

    border: 1px solid gray;

    width: 600px;
    height: 100%;
    margin: 20px 0;
}

.container--chat-page > * {
    padding: 5px;
}

/**/
.chat--header {
    line-height: 40px;
    font-size: 20px;
    background-color: #eeeae5;
}

.chat--header .line-chart{
    font-size: 10px;
    line-height: 10px;
}

.container--list-messages {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-flow: column;
    overflow-y: scroll;
    overflow-x: hidden;

    background-color: #fcfcf7;
}

.container--input-bar {
    display: block;
    height: 40px;
    background-color: #eeeae5;

}

.container--input-bar .inner-flex {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    line-height: 20px;
    align-items: center;
    margin: 0 10px;
    height: 100%;
}

.container--input-bar input {
    width: 100%;
    padding: 5px;
    margin-right:10px;
    border-radius: 5px;
    border: 1px solid white;
    outline: none;


}

.container--input-bar .button-submit {
    cursor: pointer;
    text-transform: uppercase;
    border-color: darkgray;
    background-color: lightgrey;
    color: white;
    font-weight: bold;
    padding: 5px;
}

.container--input-bar .button-submit:hover {
    background-color: #9A9A9A;
}

/*------------globals*/
.centered-content {
    opacity: 1;
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
}

.fullsize {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.blurred {
    background-color: rgba(255, 255, 255, 0.85);
}

.front-element {
    z-index: 10;
}

.modal--login {
    width: 200px;
    height: 100px;
    border: 1px solid lightgrey;
    box-shadow: 0 0 5px 0px #d9d9d9;
}

.hidden {
    z-index: 0;
    opacity: 0;
    transition: opacity 1s ease-out;
}

.message {
    display: inline-block;
    height: auto;
    width: 100%;
    margin: 5px 0;
}

.message-text {
    padding: 10px;
    margin: 0 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 0px gray;
}

.mine-message > .message-text {
    float: right;
    background-color: lightblue;
    border: 1px solid #89ABB6;
}

.guest-message > .message-text {
    float: left;
    background-color: lightgreen;
    border: 1px solid #70B870;
}
